<!--
  TAREA TA03 – DetallePage
  Implementa los TODOs siguiendo los apartados indicados en la teoría.
-->

<!-- TODO (Apartado 1 + 2): Encabezado con ion-back-button y título del elemento seleccionado -->
<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- DONE (Apartado 2):
         Añadir <ion-buttons slot="start"> con <ion-back-button> para volver a la página de inicio.
          - Usa el atributo defaultHref="/home" para asegurar que el botón funcione incluso si se accede directamente a esta página.
          Estructura de referencia (teoría, apartado 2 – ion-back-button)
    -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <!-- DONE (Apartado 3 – Interpolación):
         Mostrar el nombre del elemento en el título usando
         Recordad que si el elemento puede ser null habrá que controlarlo con ?
         En vez de <ion-title>Detalle</ion-title>
    -->
    <ion-title><h3>{{elementoDetalle?.nombre}}</h3></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- TODO (Apartado 1 + 3 – Interpolación):
       Mostrar los datos del elemento seleccionado.

       Estructura sugerida:
       <ion-list>
         <ion-item>
           <ion-label>
             <h2></h2>
             <p></p>
           </ion-label>
         </ion-item>
         <ion-item>
           <ion-label>Categoría: {{ elementoDetalle.categoria }}</ion-label>
         </ion-item>
       </ion-list>

       Si no hay elemento seleccionado, muestra un mensaje informativo.
  -->


</ion-content>
