<!--
  TAREA TA03 – HomePage
  Implementa los TODOs siguiendo los apartados indicados en la teoría.
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Mi Aplicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="busqueda" placeholder="Buscar elemento..."></ion-input>
  </ion-item>

  <ion-list>
    @for (elemento of elementosFiltrados; track elemento.id) {
      <!--DONE: Añadir llamada al método verDetalle pasando el elemento actual -->
      <ion-item button="true" (click)="verDetalle(elemento)">
        <ion-label>
          <h2>{{ elemento.nombre }}</h2>
          <p>{{ elemento.descripcion }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-button expand="block" [disabled]="!hayElementos" (click)="mostrarToast()">
    Mostrar mensaje
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer Tarea TA01 - Angular + Ionic</ion-title>
  </ion-toolbar>
</ion-footer>